<div class="container nav-bar">
  <div class="row nav-bar">
    <!-- <div class="col-xs-12 col-sm-6 col-md-12"> -->
      <div class="nav-bar">

        <%= link_to "add a task", new_task_path, class: "btn btn-default" %>

        <%= link_to "Back", tasks_path, class: "btn btn-default" %></p>

      </div>

   <!--  </div> -->
  </div>
</div>
