


<div class="container">
  <h1>Tasks</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-1">
      <% @tasks.each do |task| %>
      <div class="tasks">
        <%= link_to task_path(task) do %>
        <h4> <%= task.title %></h4>
        <%= task.completed %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "add a task", new_task_path, class: "btn btn-primary" %>
</div>
