


  <div class="task-list">
<div class="container">
    <h1>Tasks</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-12">
        <% @tasks.each do |task| %>
        <%= link_to task_path(task) do %>
        <h4> <%= task.title %></h4>
        <%= task.completed %>
        <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to "add a task", new_task_path, class: "btn btn-primary" %>
  </div>
</div>
